@page "/"
@rendermode InteractiveServer
@inject NavigationManager nav

<h1>Bienvenido al Sistema de Gestión del Centro Deportivo</h1>

<p>Por favor, elegí una opción:</p>

<div class="d-flex gap-3 mt-3">
    <button @onclick="@(() => nav.NavigateTo("/login"))">
        Iniciar sesión
    </button>
    
    <button @onclick='@(() => nav.NavigateTo("/registro"))'>    
        Registrarse
    </button>
</div>


