@page "/menu"
@rendermode InteractiveServer
@using CentroEventos.Aplicacion.Entidades
@using CentroEventos.Aplicacion.CasosDeUso.UsuarioCasosDeUso
@using CentroEventos.Aplicacion.Interfaces
@using CentroEventos.Aplicacion.Servicios
@using CentroEventos.Aplicacion.Excepciones
@inject IServicioAutorizacion autorizacion
@inject NavigationManager nav

@if (autorizacion.PoseeElPermiso(Permiso.UsuarioModificacion)){
    <h1>Interfaz de administrador</h1>
}
else{
    <h1>Interfaz de usuario</h1>
    }
    <h1></h1>
    <button @onclick="Modificar">Modificar Perfil</button> 
    <button @onclick="ModificarPermisos">Lista de usuarios</button>
    <button @onclick="ListaEventos">Lista de Eventos</button>
    <button @onclick="ListaDeSocios">Lista de Socios</button>
    <button @onclick="ListaDeReservas">Lista de Reservas</button>
@code {
    void Modificar()
    {
        nav.NavigateTo("/modificar");
    }
    void ListaDeReservas()
    {
        nav.NavigateTo("/reservas");
    }
    void ModificarPermisos()
    {
        nav.NavigateTo("/usuarios");
    }
    void ListaDeSocios()
    {
        nav.NavigateTo("/personas");
    }
    void AgregarPersonas()
    {
        nav.NavigateTo("/personas/alta");
    }
    void ListaEventos()
    {
        nav.NavigateTo("/eventos");
    }
}