@page "/usuarios"
@using CentroEventos.Aplicacion.CasosDeUso.UsuarioCasosDeUso
@using CentroEventos.Aplicacion.Entidades
@using CentroEventos.Aplicacion.Interfaces
@inject UsuarioListadoUseCase ListadoUseCase
@inject IServicioAutorizacion autorizacion
@inject NavigationManager nav

<h3>Lista de Usuarios</h3>




    <table class="table">
        <thead>
            <tr><th>Nombre</th><th>Email</th><th>Acciones</th></tr>
        </thead>
        <tbody>
            @foreach (var u in usuarios)
            {
                <tr>
                    <td>@u.Nombre @u.Apellido</td>
                    <td>@u.Email</td>
                    <td>
                        <button class="btn btn-sm btn-primary"@onclick='() => nav.NavigateTo($"/usuarios/modificarUsuario/{u.Id}")'> Modificar</button>

                            <button class="btn btn-sm btn-danger ms-2" @onclick='() => nav.NavigateTo($"/eliminar{u.Id}")'> Eliminar</button>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>


@code {
    List<Usuario> usuarios = new();

    protected override void OnInitialized()
    {
        usuarios = ListadoUseCase.Ejecutar(); // o el método que tengas para listar todos
    }

    void Editar(int id)
    {
        nav.NavigateTo($"/usuario");
    } 
}