@page "/usuario/alta"
@rendermode InteractiveServer
@using CentroEventos.Aplicacion.Entidades
@using CentroEventos.Aplicacion.CasosDeUso.UsuarioCasosDeUso
@using CentroEventos.Aplicacion.Servicios
@using CentroEventos.Aplicacion.Excepciones
@inject UsuarioSesionActual sesion
@inject UsuarioModificacionUseCase modificarUseCase
@inject NavigationManager nav

<h3>Mi Perfil</h3>

@if (sesion.EstaAutenticado)
{
    @if (!string.IsNullOrEmpty(error))
    {
        <div class="alert alert-danger">@error</div>
    }

    @if (!string.IsNullOrEmpty(mensaje))
    {
        <div class="alert alert-success">@mensaje</div>
    }

    <div>
        <input @bind="nombre" placeholder="Nombre" class="form-control mb-2" />
        <input @bind="apellido" placeholder="Apellido" class="form-control mb-2" />
        <input @bind="email" placeholder="Email" class="form-control mb-2" />
        <input @bind="nuevaContraseña" placeholder="Nueva Contraseña" type="password" class="form-control mb-2" />
    </div>

    <button @onclick="GuardarCambios">Guardar cambios</button>

}
else
{
    <p>No estás logueado. <a href="/menu">Iniciá sesión</a></p>
}
<button @onclick="IrMenu">Volver al menu</button> 
@code {
    string? nombre = "";
    string? apellido = "";
    string? email = "";
    string nuevaContraseña = "";
    string mensaje = "";
    string error = "";

    protected override void OnInitialized()
    {
        if (sesion.EstaAutenticado && sesion.Usuario !=null)
        {
            nombre = sesion.Usuario.Nombre;
            apellido = sesion.Usuario.Apellido;
            email = sesion.Usuario.Email;
        }
    }

    void GuardarCambios()
    {
        mensaje = "";
        error = "";

        try
        {
            var usuario = sesion.Usuario!;
            usuario.Nombre = nombre;
            usuario.Apellido = apellido;
            usuario.Email = email;

            string? hash = null;
            if (!string.IsNullOrWhiteSpace(nuevaContraseña))
            {
                hash = CalculadorHash.CalcularSha256(nuevaContraseña);
                usuario.ContraseñaHash = hash;
            }

            modificarUseCase.Ejecutar2(usuario);
            mensaje = "Cambios guardados con éxito.";
            nav.NavigateTo("/menu");
        }
        catch (ValidacionException ex)
        {
            error = ex.Message;
        }
        catch (Exception ex)
        {
            error = "Ocurrió un error inesperado.";
            Console.WriteLine($"Error en GuardarCambios: {ex.Message}");
        }
    }
    void IrMenu()
    {
        nav.NavigateTo("/menu");
    }
}